force-app/main/default/flows/HTTPCalloutUSPincode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UsdataOutput</name>
        <label>UsdataOutput</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>USDataHTTPCalloutmessage.Usdataaction</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>USDatapostalcode</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>Postal_code_input</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>USDatapostalcode</name>
        <label>USDatapostalcode</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>other_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_it_us_postal_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsdataOutput.2XX.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>outputdisplay</targetReference>
            </connector>
            <label>is it us postal code?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HTTPCalloutUSPincode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HTTPCalloutUSPincode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>other_country</name>
        <label>other country</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>otherpostalcode</name>
            <fieldText>&lt;p&gt;other country try it with other postal code&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>outputdisplay</name>
        <label>outputdisplay</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outputscreen</name>
            <fieldText>&lt;p&gt;{!UsdataOutput.2XX.countryx20abbreviation}&lt;/p&gt;&lt;p&gt;{!UsdataOutput.2XX.places}{!UsdataOutput.2XX.postx20code}{!UsdataOutput.2XX.country}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>postalcode</name>
        <label>postalcode</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UsdataOutput</targetReference>
        </connector>
        <fields>
            <name>Postal_code_input</name>
            <dataType>String</dataType>
            <fieldText>Postal code input</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>postalcode</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
